{% extends 'base.html.twig' %}

{% block title %}{% trans %}Поиск по предпочтениям{% endtrans %}{% endblock  %}
{% block pagetitle %}{% trans %}Поиск по предпочтениям{% endtrans %}{% endblock pagetitle %}

{% block body %}
    {{ include('export/_form.html.twig', { button_label: 'Export gifts' }) }}

{% if persons is defined %}
<table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Country{% endtrans %}</th>
                <th>{% trans %}Age{% endtrans %}</th>
                <th>{% trans %}BirthAt{% endtrans %}</th>
                <th>{% trans %}Language{% endtrans %}</th>
                <th>{% trans %}Category{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>
                
                    {% if person.attachments|first %}
                    <img src="{{ asset('/attachments/'~person.attachments|first.imageName) }}" style="max-width: 150px" alt="{{ person.firstName }} {{ person.lastName }} {{ person.surname }}" >    
                    {% endif %}

                </td>
                <td>{{ person.prefix }} {{ person.lastName }} {{ person.firstName }} {{ person.surname }}</td>
                <td>{{ person.country|trans }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.birthAt ? person.birthAt|date('d.m.Y') : '' }}</td>
                
                <td>
                {% if person.language %}
                    {% for language in person.language %}
                        {{language|trans}}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                {% endif %}
                </td>

                <td>
                {% if person.category %}
                    {% for category in person.category %}
                        {{category|trans}}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                {% endif %}
                </td>

                <td>
                    {# <a href="{{ path('app_person_show', {'id': person.id}) }}" class="btn btn-secondary mb-1">{% trans %}show{% endtrans %}</a> #}
                    {# <a href="{{ path('app_person_edit', {'id': person.id}) }}" class="btn btn-secondary mb-1">{% trans %}edit{% endtrans %}</a> #}
                    <a href="{{ path('app_export_match_person_by_id', {'id': person.id}) }}" class="btn btn-secondary mb-1">{% trans %}export{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}